<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>URL-SHORTNER</title>
</head>

<body>
    <div class="container">
    <h1 style="text-align: center;">URL SHORTNER</h1>
    <form action="/shrinkurl" method="post" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input required placeholder="url" class="form-control col mr-8" type="url" name="fullUrl" id="fullUrl">
        <button type="submit" class="btn btn-success ">Shrink</button>
    </form>


    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Original Url</th>
                <th>Short Url</th>
                <th>Click Count</th>
            </tr>
        </thead>
        <% shortUrl.forEach(element => { %>
        <tbody>
            <tr>
                <td><a href="<%= element.full %>"><%= element.full %></a></td>
                <td><a href="<%= element.short %>"><%= element.short %></a></td>
                <td><%=  element.clicks %></td>
            </tr>
        </tbody>
        <% }); %>
    </table>
</div>
</body>

</html>